
networks:
  default:
    name: lyneerp_default
  proxy:
    external: true   # crée-le une fois:  docker network create proxy

volumes:
  pg_data:
  redis_data:
  minio_data:
  rh_media:

services:
  # === API Gateway (Kong) ===
  kong:
    image: kong:3
    environment:
      KONG_DATABASE: "off"
      KONG_DECLARATIVE_CONFIG: /kong/kong.yml
      KONG_PROXY_LISTEN: 0.0.0.0:8000
      KONG_ADMIN_LISTEN: 0.0.0.0:8001
    volumes:
      - ./ops/kong/kong.yml:/kong/kong.yml:ro
    depends_on:
      - rh
      - keycloak
      - minio
    healthcheck:
      test: ["CMD", "kong", "health"]
      interval: 10s
      timeout: 5s
      retries: 10
    networks:
      - default
      - proxy
    labels:
      - "traefik.enable=true"
      # Route publique: api.localhost -> Kong proxy (8000)
      - "traefik.http.routers.api.rule=Host(`kong.lyneerp.com`)"
      - "traefik.http.routers.api.entrypoints=web"
      - "traefik.http.services.api.loadbalancer.server.port=8000"
      # Admin Kong optionnel (local)
      - "traefik.http.routers.kong-admin.rule=Host(`kong.localhost`)"
      - "traefik.http.routers.kong-admin.entrypoints=web"
      - "traefik.http.services.kong-admin.loadbalancer.server.port=8001"

  # === SSO (Keycloak) ===
  keycloak:
    image: quay.io/keycloak/keycloak:26.3.1-0
    command: [ "start-dev","--hostname-strict=false" ]
    env_file:
      - .env
    environment:
      KEYCLOAK_ADMIN: ${KEYCLOAK_ADMIN}
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD}
    networks:
      - default
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.keycloak.rule=Host(`${lynesso_HOST}`)"
      - "traefik.http.routers.keycloak.entrypoints=web"
      - "traefik.http.services.keycloak.loadbalancer.server.port=8080"
    # tu peux retirer le mapping direct si tu passes par Traefik


  # === Stockage fichiers (MinIO) ===
  minio:
    image: minio/minio
    command: ["server","/data","--console-address",":9001"]
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio123
    volumes:
      - minio_data:/data
    networks:
      - default
      - proxy
    labels:
      - "traefik.enable=true"
      # Console Web
      - "traefik.http.routers.minio-console.rule=Host(`${lynefile_HOST}`)"
      - "traefik.http.routers.minio-console.entrypoints=web"
      - "traefik.http.services.minio-console.loadbalancer.server.port=9001"
      # S3 API (facultatif) - utile si tu veux passer par traefik aussi
      - "traefik.http.routers.minio-s3.rule=Host(`s3.localhost`)"
      - "traefik.http.routers.minio-s3.entrypoints=web"
      - "traefik.http.services.minio-s3.loadbalancer.server.port=9000"

  # === Base de données ===
  postgres:
    image: postgres:16
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: rh_core
    volumes:
      - pg_data:/var/lib/postgresql/data
    networks:
      - default


  # === Cache ===
  redis:
    image: redis:7-alpine
    networks:
      - default
    volumes:
      - redis_data:/data


  # === Service de licences ===
#  licensing:
#    build: ./apps/licensing
#    environment:
#      DATABASE_URL: postgresql+psycopg://postgres:postgres@postgres:5432/licensing
#      REDIS_URL: redis://redis:6379/0
#      LICENSE_SIGNING_SECRET: change_me
#    depends_on:
#      - postgres
#      - redis
#    networks:
#      - default
#      - proxy
#    labels:
#      - "traefik.enable=true"
#      - "traefik.http.routers.lic.rule=Host(`licensing.localhost`)"
#      - "traefik.http.routers.lic.entrypoints=web"
#      - "traefik.http.services.lic.loadbalancer.server.port=8000"
#    ports: ["8010:8000"]  # optionnel si tu exposes via Traefik

  # === Application Django RH ===
  rh:
    build:
      context: .
      dockerfile: ./Dockerfile
    env_file:
      - ./.env
    depends_on:
      - postgres
      - keycloak
      - minio
#      - licensing
    volumes:
      - ./:/app:cached
      - rh_media:/app/media
    command: ["/bin/sh", "/app/docker/entrypoint.sh"]
    networks:
      - default
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.rh.rule=Host(`${lynerh_HOST}`)"
      - "traefik.http.routers.rh.entrypoints=web"
      - "traefik.http.services.rh.loadbalancer.server.port=8000"


  # === Mailpit (emails de dev) ===
  mailpit:
    image: axllent/mailpit:latest
    environment:
      MP_MAX_MESSAGES: 10000
    networks:
      - default
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.mailpit.rule=Host(`${lynemailpit_HOST}`)"
      - "traefik.http.routers.mailpit.entrypoints=web"
      - "traefik.http.services.mailpit.loadbalancer.server.port=8025"
    ports:
      - "1025:1025"  # SMTP
