# docker-compose.yml
networks:
  web:
    driver: bridge
  proxy:
    external: true   # docker network ls | grep proxy || docker network create proxy

volumes:
  pg_data:
  redis_data:
  minio_data:
  rh_media:
  static_volume:
  keycloak_data:

services:
  # === Base de données Postgres ===
  lyneDB:
    image: postgres:16
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - pg_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 10s
      timeout: 5s
      retries: 20
    networks: [web]
    restart: unless-stopped

  # === Redis (cache / broker) ===
  redis:
    image: redis:7-alpine
    command: ["redis-server","--save","","--appendonly","no"]
    healthcheck:
      test: ["CMD", "redis-cli", "PING"]
      interval: 10s
      timeout: 5s
      retries: 20
    volumes:
      - redis_data:/data
    networks: [web]
    restart: unless-stopped

  # === MinIO (S3) — Community (AGPL) ===
  lyneminio:
    image: minio/minio:latest   # ou "latest" si tu préfères
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
      MINIO_SERVER_URL: https://${MINIO_API_HOST}
      MINIO_BROWSER_REDIRECT_URL: https://${MINIO_CONSOLE_HOST}
    volumes:
      - minio_data:/data
    networks:
      - web
      - proxy
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.docker.network=proxy

      # API S3
      - traefik.http.routers.lyneminio-api.rule=Host(`minios3.lyneerp.com`)
      - traefik.http.routers.lyneminio-api.entrypoints=websecure
      - traefik.http.routers.lyneminio-api.tls=true
      - traefik.http.routers.lyneminio-api.tls.certresolver=lets
      - traefik.http.routers.lyneminio-api.service=lyneminio-api
      - traefik.http.services.lyneminio-api.loadbalancer.server.port=9000
      - traefik.http.services.lyneminio-api.loadbalancer.server.scheme=http

      # Console
      - traefik.http.routers.lyneminio-console.rule=Host(`files.lyneerp.com`)
      - traefik.http.routers.lyneminio-console.entrypoints=websecure
      - traefik.http.routers.lyneminio-console.tls=true
      - traefik.http.routers.lyneminio-console.tls.certresolver=lets
      - traefik.http.routers.lyneminio-console.service=lyneminio-console
      - traefik.http.services.lyneminio-console.loadbalancer.server.port=9001
      - traefik.http.services.lyneminio-console.loadbalancer.server.scheme=http

  # === Keycloak (SSO) ===
  keycloak:
    image: quay.io/keycloak/keycloak:26.3.1-0
    command:
      - start-dev
      - --hostname=${KEYCLOAK_HOST}                # ex: https://sso.example.com
      - --proxy-headers=xforwarded
      - --hostname-strict=false
      - --http-enabled=true
      - --http-relative-path=/
    env_file: .env

    environment:
      KEYCLOAK_ADMIN: ${KEYCLOAK_ADMIN}
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD}
    depends_on:
      lyneDB:
        condition: service_healthy
    networks:
      - web
      - proxy
    volumes:
      - keycloak_data:/opt/keycloak/data
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.docker.network=proxy
      - traefik.http.routers.keycloak.rule=Host(`${KEYCLOAK_HOST}`)
      - traefik.http.routers.keycloak.entrypoints=websecure
      - traefik.http.routers.keycloak.tls.certresolver=${TRAEFIK_CERTRESOLVER}
      - traefik.http.services.keycloak-svc.loadbalancer.server.port=8080
      - traefik.http.routers.keycloak.service=keycloak-svc

  # === Kong (API Gateway) — optionnel, derrière Traefik ===
  kong:
    image: kong:3
    environment:
      KONG_DATABASE: "off"
      KONG_DECLARATIVE_CONFIG: /kong.yml
      KONG_PROXY_LISTEN: 0.0.0.0:8000
      KONG_ADMIN_LISTEN: 0.0.0.0:8001
    volumes:
      - ./ops/kong/kong.yml:/kong.yml:ro
    depends_on:
      - rh
      - keycloak
      - lyneminio
    healthcheck:
      test: ["CMD", "kong", "health"]
      interval: 10s
      timeout: 5s
      retries: 10
    networks:
      - web
      - proxy
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.docker.network=proxy
      # Proxy public (clients) -> Kong :8000
      - traefik.http.routers.kong.rule=Host(`${KONG_HOST}`)
      - traefik.http.routers.kong.entrypoints=websecure
      - traefik.http.routers.kong.tls.certresolver=${TRAEFIK_CERTRESOLVER}
      - traefik.http.services.kong-svc.loadbalancer.server.port=8000
      - traefik.http.routers.kong.service=kong-svc

      # Admin (à restreindre en prod)
      - traefik.http.routers.kong-admin.rule=Host(`${KONG_ADMIN_HOST}`)
      - traefik.http.routers.kong-admin.entrypoints=websecure
      - traefik.http.routers.kong-admin.tls.certresolver=${TRAEFIK_CERTRESOLVER}
      - traefik.http.services.kong-admin-svc.loadbalancer.server.port=8001
      - traefik.http.routers.kong-admin.service=kong-admin-svc

  # === Application Django (Gunicorn/ASGI) ===
  rh:
    build:
      context: .
      dockerfile: ./Dockerfile
    env_file: .env
    command: ["/entrypoint.sh", "gunicorn", "-k", "uvicorn.workers.UvicornWorker", "-b", "0.0.0.0:8000", "lyneerp.asgi:application"]
    depends_on:
      lyneDB:
        condition: service_healthy
      redis:
        condition: service_healthy
      keycloak:
        condition: service_started
    healthcheck:
#      test: ["CMD-SHELL", "wget -qO- http://127.0.0.1:8000/healthz || exit 1"]
      test: [ "CMD-SHELL", "wget -qO- --header='X-Forwarded-Proto: https' http://127.0.0.1:8000/healthz || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 20
    volumes:
      - ./:/app:cached
      - rh_media:/app/media
      - static_volume:/app/staticfiles
    networks:
      - web
      - proxy
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.docker.network=proxy

#      - traefik.http.routers.rh.rule=Host(`${RH_HOST}`)
      - traefik.http.routers.rh.rule=HostRegexp(`{tenant:[a-z0-9-]+}.rh.lyneerp.com`) || Host(`rh.lyneerp.com`)
      - traefik.http.routers.rh.entrypoints=websecure
      - traefik.http.routers.rh.tls.certresolver=${TRAEFIK_CERTRESOLVER}
      - traefik.http.middlewares.rh-sec-headers.headers.stsSeconds=31536000

      - traefik.http.middlewares.rh-sec-headers.headers.referrerPolicy=strict-origin-when-cross-origin
      - traefik.http.middlewares.rh-compress.compress=true
      - traefik.http.routers.rh.middlewares=rh-sec-headers@docker,rh-compress@docker
      - traefik.http.services.rh-svc.loadbalancer.server.port=8000
      - traefik.http.routers.rh.service=rh-svc

  # === Mailpit (emails de dev) ===
  mailpit:
    image: axllent/mailpit:latest
    environment:
      MP_MAX_MESSAGES: 10000
    networks:
      - web
      - proxy
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.docker.network=proxy
      - traefik.http.routers.mailpit.rule=Host(`${MAILPIT_HOST}`)
      - traefik.http.routers.mailpit.entrypoints=websecure
      - traefik.http.routers.mailpit.tls.certresolver=${TRAEFIK_CERTRESOLVER}
      - traefik.http.services.mailpit-svc.loadbalancer.server.port=8025

  lyneadminer:
    #    profiles: ["admin"]
    image: adminer
    restart: unless-stopped
    environment:
      TZ: Africa/Abidjan
      ADMINER_DEFAULT_SERVER: lyneDB
    depends_on:
      lyneDB:
        condition: service_healthy
    networks: [ web, proxy ]
    labels:
      - traefik.enable=true
      - traefik.docker.network=proxy
      - traefik.http.routers.lyneadminer.rule=Host(`adminer.lyneerp.com`)
      - traefik.http.routers.lyneadminer.entrypoints=websecure
      - traefik.http.routers.lyneadminer.tls=true
      - traefik.http.routers.lyneadminer.tls.certresolver=lets
      - traefik.http.services.lyneadminer.loadbalancer.server.port=8080
      - traefik.http.services.lyneadminer.loadbalancer.server.scheme=http
#    logging: *logging_rotated
    cpus: "0.3"
    mem_limit: 256m
    mem_reservation: 128m
