{% load static %}<!DOCTYPE html>
<html lang="fr" class="h-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}LyneERP{% endblock %}</title>
    {% if DEBUG %}
        <script src="https://cdn.tailwindcss.com"></script>
    {% else %}
        <link rel="stylesheet" href="{% static 'dist/main.css' %}">
    {% endif %}
</head>
<body class="h-full bg-gray-50 text-gray-900 antialiased">
<main class="min-h-full flex items-center justify-center p-6">
    {% block content %}{% endblock %}
</main>
</body>
</html>
